---
import Section from "@/components/Layout/Section/index.astro";
import { sanityFetch } from "@/sanity/client";
import {
  type ClientItem,
  CLIENT_LIST_QUERY,
} from "@/sanity/schemas/Shared/Clients/data";
import {
  type Segment,
  SEGMENTS_QUERY,
} from "@/sanity/schemas/Shared/Segments/data";
import { ClientList } from "./ClientList";

const [clients, segments] = await Promise.all([
  sanityFetch<ClientItem[]>(
    CLIENT_LIST_QUERY,
    {},
    { perspective: "published" },
  ),
  sanityFetch<Segment[]>(SEGMENTS_QUERY, {}, { perspective: "published" }),
]);
---

<Section secondary noPbMobile>
  <h2 class="section-title">
    Clientes que <span class="text-primary">confiam</span> no nosso trabalho
  </h2>
  <p class="section-subtitle">
    Parcerias que impulsionam inovação e resultados
  </p>
  <ClientList clients={clients} segments={segments} client:load />
</Section>
