---
import "../styles/global.css";
import { Navbar } from "./Navbar";
import SEO from "./SEO.astro";
import Footer from "./Footer/index.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1" />
    <SEO title={title} description={description} />
  </head>

  <body class="font-sans antialiased">
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
