---
import { cn } from "@/utils/className";

interface Props {
  secondary?: boolean;
  backgroundImage?: string;
  noPbMobile?: boolean;
}

const { secondary, backgroundImage, noPbMobile } = Astro.props;
---

<section
  class={cn(
    "relative w-full sm:py-16 lg:py-32",
    noPbMobile ? "pt-8" : "py-8",
    secondary && !backgroundImage && "bg-slate-50",
  )}
  style={backgroundImage
    ? `background-image: url('${backgroundImage}'); background-size: cover; background-position: center;`
    : undefined}
>
  <div
    class={cn(
      "section-container flex flex-col items-center gap-8 lg:gap-12",
      backgroundImage && "relative z-10",
    )}
  >
    <slot />
  </div>
</section>
